@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

body {
  background-color: #0b0b0b !important;
}
p {
  color: #0f0f0f;
  font-weight: bold; 
  font-size: 20px;
}
i{
  color: #0f0f0f;
  margin: 10px;
  font-size: 20px;
  text-align: left;
  font-style: normal;
}
.btn-secondary {
  color: #848785 !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
  margin-top: 10px;
  margin-left: 5px;
}
.btn-secondary:hover {
  color: #D12A58 !important;
  background-color: #1F1F1F !important;
  border-color: #1D1D1D !important;
}
.jumbotron {
  margin-top: 100px !important ;
  padding-top: 25px !important ;
  background-color: #1b1b1b !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important ;
}

.spinner-border {
  width: 4rem !important;
  height: 4rem !important;
  vertical-align: text-bottom !important;
  border: .50em solid #1b1b1b !important;
  border-right-color: transparent !important;
  border-radius: 50% !important;
  -webkit-animation: spinner-border .75s linear infinite !important;
  animation: spinner-border .75s linear infinite !important;
  margin: 40% 45%;
}
// Task
// ###################################
.task-test-uncom{
  color: #D12A58;
}
.task-test-com{
  color: #0CF2B1;
}
.task-deadline{
  color: #848785;
  font-size: 15px;
  margin: 50px;
}
.rightButtons {
  float: right;
}
.fa-circle {
  color: #D12A58;
}
.fa-check-circle:hover {
  color: #D12A58;
  cursor: pointer;
}
.fa-times-circle{
  color: #1D1D1D;
}
.fa-check-circle {
color: #0CF2B1 ;
}
.item{
  background-color: #1D1D1D;
  margin: 5px;
  padding: 4px;
  border-radius: 10px;
}
.item:hover{ 
  background-color: #1F1F1F;
  border-radius: 10px;
  // #EDEDED
 .fa-times-circle{
  cursor: pointer;
  color: #D12A58;}
  .fa-times-circle:hover {
  color: #9C1F42 ;
  cursor: pointer;
}
.fa-circle:hover{
  color: #0CF2B1;
  cursor: pointer;} 
}
// ###################################

.button{
  padding: 2.5px;
  background-color: transparent;
}
.button:focus{
  outline: none;
}
input, button {
  border: 0px; 
}

input{
  margin-left: 6px;
  font-size: 20px !important;
  color: #848785 ;
  background-color: transparent;
  width: 250px;
}
input:focus{
  outline: none;
  color: #D12A58;
}
.fa-plus {
  color: #0f0f0f;
}
.fa-plus:hover {
  color:  #D12A58;
  cursor: pointer;
}


// Profile --> header
.profile--photo {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 5px solid #1b1b1b;
  margin-top: -140px;
}
.greating {
  color: #848785;
  font-size: 20px;
}
.username{
  color: #0CF2B1;
  font-size: 30px;
}
.todayTime {
  color: #848785;
  font-size: 15px;
  margin: 0px;
  font-weight: normal;
}
.login-butten{
margin-top: 20px;
}

// Footer
.footer{
  text-align: center;
  color: #848785;
}
.fa-heart{
  color: #D12A58;
  font-size: 15px;
  padding: 0px;
  margin: 3px;
}
.concat-icon{
  color: #848785;
}
.concat-icon:hover{
  color: #1b1b1b;
}
