@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Signika');//head
@import url('https://fonts.googleapis.com/css?family=Signika'); //tasks


body {
  font-family: arial; 
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
background: #FFE201;
background: -webkit-linear-gradient(bottom, #FFE201, #E3BE1C);
background: -moz-linear-gradient(bottom, #FFE201, #E3BE1C);
background: linear-gradient(to top, #FFE201, #E3BE1C);
}


@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}

.jumbotron {
  margin-top: 100px !important ;
  padding-top: 25px !important ;
  background-color: #ffffff !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important ;
  
}

.deleteBtn{
  p{
  color: #848785;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  }
  i{
    font-size: 15px;
  }
}
.cBtn:hover{
  color: #333536; 
  cursor: pointer;
}
.cBtn{
  display: inline-block;
  margin: 5px;
}

.button{
  padding: 2.5px;
}
.button:focus{
  outline: none;
}

i {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}



input, button {
  border: 0px; 
}

.input{
  color:#848785;
  margin-left: 6px;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
}

input:focus{
    outline: none;
    color: #333536;
}

.fa-plus {
  color: #848785;
}

.fa-plus:hover {
  color:  #333536;
  cursor: pointer;
}


.rightButtons {
float: right;
}

.fa-check-circle {
color: #07D400;
}

.fa-circle {
  color: #333536;
}

.fa-check-circle:hover {
  color: #07D400;
  cursor: pointer;
}

.fa-pencil-alt, .fa-times-circle{
  color: #ffffff;
}

.item:hover, {
  background-color: #EDEDED;
  .fa-pencil-alt, .fa-times-circle{
  cursor: pointer;
  color: #333536;}

  .fa-times-circle:hover {
  color: red;
  cursor: pointer;
}

.fa-circle:hover, .fa-pencil-alt:hover {
  color: #07D400;
  cursor: pointer;
}
  
}

.uncheck{
  text-decoration: none;
}

.check{
  text-decoration: line-through;
}





.rcap{
  color: #848785;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  margin-left: 15px;
}