@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');


body {
  background-color: #000249 !important;
}

p {
  color: #0D003D;
  font-weight: bold; 
  font-size: 20px;
}
i{
  color: #0D003D;
  margin: 10px;
  font-size: 20px;
  text-align: left;
  font-style: normal;
}

.btn-secondary {
  color: #fff;
  background-color: #ee2b47 !important;
  border-color: #ee2b47 !important;
}
.jumbotron {
  margin-top: 100px !important ;
  padding-top: 25px !important ;
  background-color: #ffffff !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important ;
  
}

// Task
// ###################################
.task-test{
  color: #0D003D;
}
.task-deadline{
  color: #848785;
  font-size: 15px;
  margin: 55px;
}
.rightButtons {
  float: right;
}
.fa-circle {
  color: #0D003D;
}
.fa-check-circle:hover {
  color: #0D003D;
  cursor: pointer;
}
.fa-times-circle{
  color: #ffffff;
}
.fa-check-circle {
color: #ee2b47 ;
}
.item:hover{ 
  background-color: rgb(248, 246, 246);
  // #EDEDED
 .fa-times-circle{
  cursor: pointer;
  color: #0D003D;}
  .fa-times-circle:hover {
  color: #ee2b47 ;
  cursor: pointer;
}
.fa-circle:hover{
  color: #ee2b47;
  cursor: pointer;} 
}
// ###################################

// Delete ALL and Completed buttons
// ###################################
.cBtn:hover{
  color: #ee2b47; 
  cursor: pointer;
  i{
    color: #ee2b47; 

  }
}
.cBtn{
  display: inline-block;
  margin: 5px;
}
// ###################################

.button{
  padding: 2.5px;
}
.button:focus{
  outline: none;
}
input, button {
  border: 0px; 
}

input{
  margin-left: 6px;
  font-size: 20px !important;
  color: #848785 ;
}
input:focus{
  outline: none;
  color: #0D003D;
}
.fa-plus {
  color: #0D003D;
}
.fa-plus:hover {
  color:  #ee2b47;
  cursor: pointer;
}


// Profile --> header
.profile--photo {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 5px solid #fff;
  margin-top: -140px;
}
.greating {
  color: #0D003D;
  font-size: 35px;
  font-family: 'Archivo Black', sans-serif;
}
.sub-greating {
  font-weight: bold; 
}
.todayTime {
  color: #848785;
  font-size: 20px;
  margin: 0px;
  font-weight: normal;
}
.card {
 background-color: transparent !important ;
 border: none !important ;  
}
.login-butten{
margin-top: 30px;
}

// Footer
.footer{
  text-align: center;
  color: white;
}
.fa-heart{
  color: #ee2b47;
  font-size: 15px;
  padding: 0px;
  margin: 3px;
}